@charset "utf-8";
@import url('reset.css');

.cursor {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    pointer-events: none;
}
.cursor .in {
    width: 100%;
    height: 100%;
    background-color: royalblue;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transform: scale(0);
    transition: 0.5s;
}
.cursor.active .in {
    transform: scale(1);
}
.header {
    height: 100px;
    background-color: aliceblue;
}


img {
    width: 500px;
    margin: 100px auto;
    display: block;
    cursor: none; 
}