@charset "utf-8";
@import url('reset.css');

.nav_wrap {
}

.nav_wrap .nav {}

.nav_wrap .nav .gnb {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.nav_wrap .nav .gnb > li {}

.nav_wrap .nav .gnb > li .depth-01 {
    height: 70px;
    background-color: aqua;
    display: block;
    padding:25px ;
}

.nav_wrap .nav .gnb > li .depth-02 {}

.nav_wrap .nav .gnb > li .depth-02 li {}

.nav_wrap .nav .gnb > li .depth-02 li a {}