@charset "utf-8"; 
@import url('reset.css');

.section {
    background: url('../img/sunflower\(1\).jpg') center center / cover no-repeat;
    padding: 100px 0;
}

.section .inner {
    max-width: 1200px;
    width: calc(100% - 40px);
    margin: 0 auto;
}
.section .inner h2 {
    font-size: 50px;
    margin-bottom: 50px;
}

.section .inner .list {
    display: flex;
    flex-direction: column;
    gap: 150px;
}
.section .inner .list .item {
    height: 300px;
}
.section .inner .list .item img.img_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 20px;
}

.section .inner .list .item .text {}
.section .inner .list .item .text strong {
    font-size: 40px;
    font-weight: bold;

}
.section .inner .list .item .text p {
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
}