@charset "utf-8" ;
@import url('reset.css');


.header{
    width: 100%;
    height: 100px;
    color: white;
    position: relative;
    z-index: 100;
}

.header .inner{
    max-width: 1280px;
    width: calc(100% - 32px);
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .inner .logo{
    width: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

.header .inner .logo a{
    display: block;
    height: 100%;
}

.header .inner .logo a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header .inner .util{
    border: 1px solid #fff;
    padding: 15px 33px 13px ;
}

.main .main-visual{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.main .main-visual video{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.main .main-visual .text{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 13px;
    text-align: center;

}

.main .main-visual .text h2{
    font-weight: bold;
    margin-bottom: 10px;
}
.main .main-visual .text p{
    font-weight: 500;
}

